.userI{
  border: solid #FEFEFA !important;
   color: #FEFEFA !important;
  background-color: transparent !important;
}
.main{
  width: 378px;
}
.advisor{
  color: #FEFEFA !important;
}

@media (max-width:450px){
  .main{
    width: 100%;
  }
}